body{
    margin-left: 160px;
    margin-right: 160px;
    font-family: ;
}

header{
    padding: 10px;
}

h1{
    font-size: 30px;
    color: red;
    text-align: center;
}


.row1{
    float:left;
}