body{
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
    margin-left: 260px;
    margin-right: 260px;
}



header{
    padding: 10px;
}

h1{
    font-size: 45px;
    color: red;
    text-align: center;
}


.col{
    height:  100px;
    background-color: rgb(24, 14, 48);
    border: solid 1px rgb(255, 255, 255);
    margin: 0 35px 50px 0;
}
.col{
    float: left;
    width: calc((100%/3) - 40px);
}


.row{
    border: 0px black;
    padding-top: 40px;

}

.row::after{
    content: " ";
    display: table;
    clear: both;
}

img{
    float: left;
    width: 100px;
    height: 100px;
}

.text1{
    display: block;
    font-size: 20px;
    margin-block-start: 10px;
    margin-left: 118px;
    color: white;
}

.text2{
    display: block;
    margin-left: 118px;
    font-size: 16px;
    line-height: 0;
    color: white;
}

a{
    font-size: 16px;
    margin-left: 18px;
    line-height: 0;
    color: rgb(128, 196, 219);

}


