body{
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
    margin-left: 260px;
    margin-right: 260px;
}



header{
    padding: 10px;
}

h1{
    font-size: 45px;
    color: rgba(223, 22, 11, 0.814);
    text-align: center;
    font-weight: 700;   
}


.col{
    height:  100px;
    background-color: rgb(24, 14, 48);
    border: solid 0px rgb(255, 255, 255);
    margin: 0 17.5px 50px 17.5px;
    box-shadow:1px 1px 1px black, 0 0 6px black;

}
.col{
    float: left;
    width: calc((100%/3) - 40px);
}


.row{
    border: 0px black;
    padding-top: 40px;
}

.row::after{
    content: " ";
    display: table;
    clear: both;
}

img{
    float: left;
    width: 100px;
    height: 100px;
}

.text1{
    display: block;
    font-size: 20px;
    margin-block-start: 10px;
    margin-left: 118px;
    color: white;
    font-weight: 400;
}

.text2{
    display: block;
    margin-left: 118px;
    font-size: 16px;
    line-height: 0;
    color: white;
    font-weight: 300;
}

a{
    font-size: 16px;
    margin-left: 18px;
    line-height: 0;
    color: rgb(128, 196, 219);
    font-weight: 400;

}

.paragraf{
    margin-left: 17.5px;
    margin-right: 50px;
    text-align: center;
}


